# Bag-of-Words Model

In [33]:
from sklearn.feature_extraction.text import CountVectorizer
import pandas as pd

In [39]:
corpus = ["buena pelicula", "no me gusto la pelicula", "no me gusto", "me gusto la pelicula", "buena", "la clase de NLP", "NLP"]

In [40]:
bow = CountVectorizer(analyzer='word', ngram_range=(1, 1))

In [41]:
features = bow.fit_transform(corpus)

In [42]:
features.toarray()

array([[1, 0, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 1, 1, 1, 0, 1, 1],
       [0, 0, 0, 1, 0, 1, 0, 1, 0],
       [0, 0, 0, 1, 1, 1, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 0, 1, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0]], dtype=int64)

In [43]:
df = pd.DataFrame(features.toarray(),
                  index=['document '+str(i) for i in range(1, 1+len(corpus))],
                  columns=bow.get_feature_names())

In [44]:
df

            buena  clase  de  gusto  la  me  nlp  no  pelicula
document 1      1      0   0      0   0   0    0   0         1
document 2      0      0   0      1   1   1    0   1         1
document 3      0      0   0      1   0   1    0   1         0
document 4      0      0   0      1   1   1    0   0         1
document 5      1      0   0      0   0   0    0   0         0
document 6      0      1   1      0   1   0    1   0         0
document 7      0      0   0      0   0   0    1   0         0